<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Amaury Nunes, advogados associados">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <title>{{ TITLE }}</title>

    {#<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>#}
    <link rel="stylesheet" href="{{ RAIZ }}web/css/admin/bootstrap.min.css">
    <link rel="stylesheet" href="{{ RAIZ }}web/css/admin/sb-admin.css">
    <link rel="stylesheet" href="{{ RAIZ }}web/css/font-awesome.min.css">
    <link href="{{ RAIZ }}web/css/plugins/morris.css" rel="stylesheet">
    <link rel='stylesheet' href='{{ RAIZ }}web/css/sweetalert/sweetalert.css' type='text/css' />

    <link rel="stylesheet" href="{{ RAIZ }}web/css/header.css">

    <link rel="stylesheet" href="{{ RAIZ }}web/css/cropper/cropper.min.css">

    <link rel="stylesheet" href="{{ RAIZ }}web/css/uploader/jquery.fileupload.css">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <script src="{{ RAIZ }}web/js/admin/jquery.js"></script>
    <script type="text/javascript" src="{{ RAIZ }}web/js/plugins/tinymce/jquery.tinymce.min.js"></script>
    {#<script type="text/javascript" src="{{ RAIZ }}web/js/plugins/tinymce/tiny_mce_popup.js"></script>#}
    <script type="text/javascript" src="{{ RAIZ }}web/js/plugins/tinymce/tinymce.min.js"></script>

    <script>
        tinymce.init({
            selector: '.editor',
            language: "pt",
            height: 500,
            theme: 'modern',
            plugins: [
                'advlist autolink lists link image code charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
            ],
            toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
            image_advtab: true,
            templates: [
                { title: 'Test template 1', content: 'Test 1' },
                { title: 'Test template 2', content: 'Test 2' }
            ],
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'
            ],
            image_title: true,
            automatic_uploads: true,
            images_upload_url: '{{ RAIZ }}editor/imagem',
            file_picker_types: 'image',
            file_picker_callback: function(cb, value, meta){
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                input.onchange = function() {
                    var file = this.files[0];

//                    var id = 'blobid' + (new Date()).getTime();
                    var id = file['name'].split('.')[0];
                    var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                    var blobInfo = blobCache.create(id, file);
                    blobCache.add(blobInfo);

                    // call the callback and populate the Title field with the file name
                    cb(blobInfo.blobUri(), { title: file.name });
                };

                input.click();
            }
        });
    </script>

    <style>
        body {
            background-color: {{ bgcolor }};
        }
        .navbar-header img {
            height: 50px;
            width: 300px;
        }
    </style>

    {% block style %}{% endblock %}
</head><!--/head-->
<body cz-shortcut-listen="true">
    <div class="preloader">
        <div class="preloder-wrap">
            <div class="preloder-inner">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div><!--/.preloader-->

    <div id="wrapper">

        {% if loged %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#<a class="navbar-brand" href="index.html">SB Admin</a>#}
                <a class="navbar-brand" style="padding: 0px !important; padding-left: 10px !important;" href="{{ RAIZ }}"><img src="{{ RAIZ }}web/images/logo-horizontal.png" alt="logo"></a>
            </div>

            <ul class="nav navbar-right too-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('admin_logout') }}"><i class="fa fa-fw fa-power-off"></i> Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>

            {% include 'admin/layout/menulateral.twig' %}

        </nav>
        {% endif %}

        <div class="page-wrapper">
            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="{{ RAIZ }}web/js/admin/bootstrap.min.js"></script>
    <script src="{{ RAIZ }}web/js/admin/plugins/morris/raphael.min.js"></script>
    {#<script src="{{ RAIZ }}web/js/admin/plugins/morris/morris.min.js"></script>#}
    {#<script src="{{ RAIZ }}web/js/admin/plugins/morris/morris-data.js"></script>#}
    <script type='text/javascript' src='{{ RAIZ }}web/js/sweetalert/sweetalert.min.js'></script>

    <script src="{{ RAIZ }}web/js/cropper/cropper.min.js"></script>

    <script src="{{ RAIZ }}web/js/uploader/vendor/jquery.ui.widget.js"></script>
    <script src="{{ RAIZ }}web/js/uploader/jquery.iframe-transport.js"></script>
    <script src="{{ RAIZ }}web/js/uploader/jquery.fileupload.js"></script>


    {% include 'admin/layout/funcoesjs.twig' %}

    {% block jsInclude %}{% endblock %}
    {% block jsCode %}{% endblock %}
</body>