{% extends "layout/main.twig" %}

{% block style %}
    <style>
        h2 {
            padding-bottom: 0px !important;
        }

        @media (max-width: 768px) {
            .navbar-header img {
                display: none;
            }
        }
        .navbar-header img {
            height: 50px;
            width: 300px;
        }

        .bsvCor{
            color: #FFA400 !important;
        }

        .p-just{
            text-align: justify;
        }

        .single-service .fa {
            display: none;
        }

        #contact {
            height: 880px;
        }

        .margin-20-top{
            margin-top: 20px;
        }
        .margin-20-bottom{
            margin-bottom: 20px;
        }

        #artigo {
            margin-top: 88px;
        }

        #artigo .container {
            background-color: #ccc !important;
        }

        #artigo .container .row {
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <header id="navigation">
        <div class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ RAIZ }}"><h1><img src="{{ RAIZ }}web/images/logo-horizontal.png" alt="logo"></h1></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">Artigos</a></li>
                        <li><a href="javascript:voltaHome();">Voltar</a></li>
                    </ul>
                </div>
            </div>
        </div><!--/navbar-->
    </header> <!--/#navigation-->

    <section id="artigo">
        <div class="home-pattern"></div>
        <div id="main-carousel" class="carousel slide">
            <div class="col-sm-12 text-center topo-section">
                <h1 class="title-one">{{ artigo.titulo }}</h1>
            </div>
            <div class="container">
                <div class="row">
                    {{ artigo.texto | raw }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block jsCode %}
    <script>
        function voltaHome(){
            {#window.location.href = '{{ RAIZ }}';#}
            window.history.back();
        }
    </script>
{% endblock %}