<section id="blog" class="parallax-section">
    <div class="col-sm-12 text-center topo-section">
        <h1 class="title-one" style="color: #ffffff !important;">Artigos</h1>
    </div>
    <div class="container">
        <div class="row">

            {% for artigo in artigos %}
                <div class="col-sm-4">
                    <div class="single-blog">
                        <h2>{{ artigo.titulo }}</h2>
                        <ul class="post-meta">
                            <li><i class="fa fa-pencil-square-o"></i> {{ artigo.username }}</li>
                            <li><i class="fa fa-clock-o"></i><strong> em:</strong> {{ artigo.datacriacao }}</li>
                        </ul>
                        <div class="blog-content">
                            <p>{{ artigo.resumo }}</p>
                        </div>
                        {#<a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-detail">Leia mais</a>#}
                        <a href="{% if artigo.tipoartigo == 'A' %}{{ artigo.url }}{% else %}{{ artigo.link }}{% endif %}" target="_blank" class="btn btn-primary" >Leia mais</a>
                        {#<input type="button" class="btn btn-primary" onclick="abreArtigo('{{ artigo.url }}')" value="Leia Mais">#}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section> <!--/#blog-->