<section id="home">
    <div class="home-pattern"></div>
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
            <li data-target="#main-carousel" data-slide-to="2"></li>
            <li data-target="#main-carousel" data-slide-to="3"></li>
            <li data-target="#main-carousel" data-slide-to="4"></li>
        </ol><!--/.carousel-indicators-->
        <div class="carousel-inner">
            {% for bcr in carrossel %}
                <div class="item {% if bcr.bcrprincipal != 0 %}active{% endif %}" teste="{{ bcr.bcrimg }}" style="background-image: url({{ RAIZ }}{{ bcr.bcrimg }})">
                    <div class="carousel-caption">
                        <div>
                            <h2 class="heading animated bounceInDown">{{ bcr.bcrtitulo }}</h2>
                            <p class="animated bounceInUp">{{ bcr.bcrsubtitulo }}</p>
                            {% if bcr.bcrtembotao != 0 %}
                                <a class="btn btn-default slider-btn animated fadeIn" href="javascript(alert('teste'))">{{ bcr.bcrtxtbotao }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div><!--/.carousel-inner-->

        <a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>

</section><!--/#home-->