<section id="grupo">
    <div class="col-sm-12 text-center topo-section">
        <h1 class="title-one">Equipe</h1>
    </div>

    <style>
        .divGrupo {
            margin-left: 0px !important;
            margin-right: 0px !important;

            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .grupo {
            width: 100%;
            height:795px;
        }

        .ulGrupo {
            list-style-type: none;
            padding: 0px !important;
            margin: 0px !important;
        }

        .ulGrupo li {
            list-style: none;
            float: left;
            width: calc(100% / 9);
            display: inline-block;
            border-left: 1px solid #ccc;
            border-right: 1px solid #c5c5c5;
        }

        .divGrupo2 {
            width: 100%;
        }

        .divGrupo2 div {
            float: left;
            width: calc(100% / 9);
        }

        .divGrupo2 div img {
            width: 100%;
        }
    </style>

    <div class="divGrupo col-sm-12 col-md-12 col-lg-12">
        {#<img src="{{ RAIZ }}web/images/grupo/grupo.png" alt="">#}

        {#<ul class="ulGrupo list-group">#}
            {#<li><div><img class="grupo" src="{{ RAIZ }}web/images/grupo/GROUP1.png" alt=""></div></li>#}
            {#<li><div><img class="grupo" src="{{ RAIZ }}web/images/grupo/GROUP2.png" alt=""></div></li>#}
            {#<li><div><img class="grupo" src="{{ RAIZ }}web/images/grupo/GROUP3.png" alt=""></div></li>#}
            {#<li><div><img class="grupo" src="{{ RAIZ }}web/images/grupo/GROUP4.png" alt=""></div></li>#}
            {#<li><div><img class="grupo" src="{{ RAIZ }}web/images/grupo/GROUP5.png" alt=""></div></li>#}
            {#<li><div><img class="grupo" src="{{ RAIZ }}web/images/grupo/GROUP6.png" alt=""></div></li>#}
            {#<li><div><img class="grupo" src="{{ RAIZ }}web/images/grupo/GROUP7.png" alt=""></div></li>#}
            {#<li><div><img class="grupo" src="{{ RAIZ }}web/images/grupo/GROUP8.png" alt=""></div></li>#}
            {#<li><div><img class="grupo" src="{{ RAIZ }}web/images/grupo/GROUP9.png" alt=""></div></li>#}
        {#</ul>#}

        <div class="divGrupo2">
            <div><img src="{{ RAIZ }}web/images/grupo/GROUP1.png" alt=""></div>
            <div><img src="{{ RAIZ }}web/images/grupo/GROUP2.png" alt=""></div>
            <div><img src="{{ RAIZ }}web/images/grupo/GROUP3.png" alt=""></div>
            <div><img src="{{ RAIZ }}web/images/grupo/GROUP4.png" alt=""></div>
            <div><img src="{{ RAIZ }}web/images/grupo/GROUP5.png" alt=""></div>
            <div><img src="{{ RAIZ }}web/images/grupo/GROUP6.png" alt=""></div>
            <div><img src="{{ RAIZ }}web/images/grupo/GROUP7.png" alt=""></div>
            <div><img src="{{ RAIZ }}web/images/grupo/GROUP8.png" alt=""></div>
            <div><img src="{{ RAIZ }}web/images/grupo/GROUP9.png" alt=""></div>
        </div>
    </div>

</section>